body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; 
    background-color: #000; 
    font-family: 'Share Tech Mono', monospace;
}


#earthCanvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1; 
}


.ui-box {
    position: relative;
    z-index: 10; 
    top: 50%;
    left: 20%; 
    transform: translateY(-50%);
    width: 350px;
    padding: 40px;
    background: rgba(0, 20, 20, 0.4);
    border: 1px solid rgba(0, 255, 150, 0.3);
    border-radius: 10px;
    backdrop-filter: blur(5px); /* Arkadaki yıldızları hafifçe bulandırır (Cam efekti) */
    text-align: center;
}


.neon-text {
    color: #00ff96;
    font-size: 3rem;
    margin: 0;
    text-shadow: 0 0 10px #00ff96, 0 0 20px #00ff96; 
}

.status-text {
    color: rgba(255, 255, 255, 0.7);
    font-size: 0.9rem;
    letter-spacing: 2px;
    margin-bottom: 30px;
}


input {
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid #00ff96;
    padding: 12px;
    color: #00ff96;
    font-family: 'Share Tech Mono', monospace;
    outline: none;
    margin-bottom: 10px;
    box-sizing: border-box; 
}


.btn-neon {
    width: 100%;
    padding: 12px;
    background: transparent;
    border: 1px solid #00ff96;
    color: #00ff96;
    cursor: pointer;
    font-family: 'Share Tech Mono', monospace;
    font-weight: bold;
    transition: 0.3s;
}


.btn-neon:hover {
    background: #00ff96;
    color: #000;
    box-shadow: 0 0 20px #00ff96;
}


.btn-blue {
    border-color: #007bff;
    color: #007bff;
}

.btn-blue:hover {
    background: #007bff;
    color: #fff;
    box-shadow: 0 0 20px #007bff;
}


.gizli { display: none; }

#selamlama {
    color: #fff;
    margin-bottom: 20px;
}


.ui-box {
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}


.gizli {
    opacity: 0 !important;
    pointer-events: none !important;
    display: none;
}

.grid-konteynir {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 15px;
    margin-top: 20px;
    perspective: 1000px; 
}

.kart {
    position: relative;
    border: 1px solid rgba(0, 255, 150, 0.4);
    padding: 15px;
    cursor: pointer;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275); 
    color: #fff;
    font-size: 0.85rem;
    background: rgba(0, 20, 20, 0.8); 
    text-transform: uppercase;
    overflow: hidden;
}


.kart:hover {
    border-color: #00ff96;
    box-shadow: 0 0 20px rgba(0, 255, 150, 0.4), inset 0 0 10px rgba(0, 255, 150, 0.2);
    transform: scale(1.02); 
}



.kart::after {
    content: attr(data-ox) " — " attr(data-pop); 
    display: block; /* Alt satıra indirir */
    font-size: 0.7rem;
    color: #00ff96;
    margin-top: 8px;
    opacity: 0; /* Başlangıçta gizli */
    transform: translateY(10px); /* Aşağıdan gelme efekti için */
    transition: all 0.3s ease;
    border-top: 1px dotted rgba(0, 255, 150, 0.3);
    padding-top: 5px;
}


.kart:hover::after {
    opacity: 1;
    transform: translateY(0);

}
